<!-- ============================================ -->
    <!--             Final Call to Action             -->
    <!-- ============================================ -->
    
    <section id="cta">
        <div class="container">
            <h2 class="title">
                Unlock Tech Support
                <br />
                Solve Technology Woes
            </h2>
            <p>
                Don't let technology-related issues stand in your way. Our expert tech support is here to help you overcome any challenges, big or small. Contact us now to schedule a consultation and let us help you get it done with ease.
            </p>
            <a href="/contact" class="cs-button-solid">Resolve Tech Issue</a>
        </div>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="lazy" width="2500" height="1667">
        </picture>
    
    </section>
