<!-- ============================================ -->
    <!--                   Footer                     -->
    <!-- ============================================ -->
    
    <footer id="footer">
        <div class="container">
            <div class="left-section">
                <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/svgs/logo-white.svg" alt="logo" width="264" height="78"></a>
                <p></p>
            </div>
            <div class="right-section">
                <div class="lists">
                    <ul>
                        <li>
                            <h2>Information</h2>
                        </li>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/about">About Us</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <h2>Services</h2>
                        </li>
                        <li>Malware Removal</li>
                        <li>Complete Tune-Up</li>
                        <li>Data Backup</li>
                        <li>Password Reset</li>
                    </ul>
                    <ul>
                        <li>
                            <h2>Contact</h2>
                        </li>
                        <li>
                            <a href="/contact">
                                Peabody,
                                MA
                                01960
                            </a>
                        </li>
                        <li>
                            <a href="tel:617-544-7629">
                                T:
                    (617) 544-7629
                            </a>
                        </li>
                        <li>
                            <a href="mailto:amirzaharoon@gmail.com">Click to Email</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    
        <div class="credit">
            <span>Designed and Hand Coded by Haroon Mirza</span>
            <a href="/" target="_blank" rel="noopener">SilverScreen Services</a>
            <span class="copyright">
                Copyright 2024</span>
        </div>
    </footer>
